@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.left-full {
  left: 100%;
}
.ml-3 {
  margin-left: 0.75rem; /* You can adjust this value as needed */
}

.line-container {
  position: relative;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease; /* Adding transition effect for width */
  width: 100%; /* Initially full width */
}

.line-container:hover .line {
  width: 50%; /* Change to the desired partial width on hover */
  background-color: red; /* Change to the desired partial color on hover */
  left: 10;
}

.text {
  color: black; /* Initial text color */
  transition: color 0.3s ease; /* Adding transition effect for color */
}

.line-container:hover .text {
  color: red; /* Change to the desired text color on hover */
}

.line-container {
  position: relative;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
  transition: background-color 0.3s ease; /* Adding transition effect for color */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: transparent; /* Initially transparent */
  transition: background-color 0.3s ease; /* Adding transition effect for color */
}

.text {
  color: black; /* Initial text color */
  transition: color 0.3s ease; /* Adding transition effect for color */
  position: relative; /* Ensure proper stacking order */
  z-index: 1; /* Ensure text is above the overlay */
}

.line-container:hover .overlay {
  background-color: red; /* Change to the desired color on hover */
}

.line-container:hover .text {
  color: red; /* Change to the desired text color on hover */
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



.overflow-x-scroll {
  overflow-x: auto;
}

.content-wrapper {
  width: max-content; /* Set your desired width */
}